<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Ajouter Terrain</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Terrains</a>
            </li>
            <li class="breadcrumb-item active">Ajouter</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> Information du Terrain</strong></h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="terrainForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Label du Terrain</mat-label>
                    <input matInput formControlName="label" required>
                    <mat-error *ngIf="terrainForm.get('label').hasError('required')">
                      Le label est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Type du Terrain</mat-label>
                    <mat-select formControlName="type" required>
                      <mat-option [value]="'dure'">
                        Terrain dur
                      </mat-option>
                      <mat-option [value]="'terre'">
                        Terrain terre battue
                      </mat-option>
                      <mat-option [value]="'Gazon'">
                        Terrain Gazon
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="terrainForm.get('type').hasError('required')">
                      Le type est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" style="padding: 8px;">

                  <mat-slide-toggle formControlName="enable" [checked]="terrainForm.get('enable')">
                    Disponibilite du Terrain :
                  </mat-slide-toggle>

                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

                  <div class="custom-dropzone" ngx-dropzone
                       [accept]="'image/*'"

                       [multiple]="false"
                       (change)="onSelect($event)"
                       [ngClass]="{ 'is-invalid is-invalidss':!img }">
                    <ngx-dropzone-label>
                      <div>
                        <h4>Photo du Terrain</h4>
                        <h3>Obligatoire</h3>
                      </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview *ngIf="img"
                                                ngProjectAs="ngx-dropzone-preview"
                                                [file]="img"
                                                [removable]="true"
                                                (removed)="onRemove(img)">
                    </ngx-dropzone-image-preview>

                  </div>

                  <!-- <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Importer Image</mat-label>
                    <ngx-mat-file-input formControlName="photo">
                    </ngx-mat-file-input>
                    <mat-icon matSuffix>face</mat-icon>
                  </mat-form-field> -->
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="msr-3" [disabled]="!terrainForm.valid " mat-raised-button color="primary">Submit
                  </button>
                  <button type="button"  [routerLink]="'/terrain/all-terrains'"  mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
